:root {
  --devshed-blue: #000c19;
  --devshed-blue-light: #001124;
  --light-blue: #00b3d6;
  --light-blue-light: #0ad6ff;
  --black: #0a0a0a;
  --white: #f5f5f5;
  --white-darker: #fafafa;
  --border-radius: 0.75rem;
  --primary: var(--devshed-blue);
  --primary-inverse: var(--white);
  --primary-hover: var(--devshed-blue-light);
  --bg: var(--white);
  --bg-secondary: var(--white-darker);
  --fg: var(--black);
  --glow: drop-shadow(0 1px 8px var(--light-blue));
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --glow-shadow: 0 1px 3px 1px var(--light-blue),
    0 1px 2px 1px var(--light-blue);
  @media (prefers-color-scheme: dark) {
    --bg: var(--devshed-blue);
    --bg-secondary: var(--devshed-blue-light);
    --fg: var(--white);
    --primary: var(--light-blue);
    --primary-inverse: var(--black);
    --primary-hover: var(--light-blue-light);
  }
}

html {
  height: 100%;
  line-height: 1.5;
  font-size: 1.15rem;

  text-size-adjust: 100%;
  font-smooth: antialiased;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background: var(--body-background);
  color: var(--fg);
  background-color: var(--bg);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--primary);
  transition: color 0.15s ease-in-out, filter 0.15s ease-in-out;
  will-change: filter;
  &:hover {
    color: var(--primary-hover);
    filter: var(--glow);
  }

  @media (prefers-reduced-motion) {
    transition: none;
    &:hover {
      filter: none;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @media (prefers-color-scheme: dark) {
    filter: var(--glow);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img {
  border-radius: var(--border-radius);
}
