---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const props = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = props.href === pathname || props.href === "/" + subpath?.[0];
---

<a aria-current={isActive} {...props}>
  <slot />
</a>
<style>
  a {
    font-size: 2em;
    flex-shrink: 0;
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    transition:
      font-weight 0.15s ease-in-out,
      filter 0.15s ease-in-out;

    @media (min-width: 64em) {
      font-size: 1.5em;
    }

    &:hover,
    &[aria-current="true"] {
      font-weight: 800;
      color: inherit;
      filter: var(--glow);
    }

    &::before {
      display: block;
      content: attr(aria-label);
      font-weight: 800;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
</style>
