body > header {
  color: var(--white);
  background-color: var(--devshed-blue);
  flex-direction: row;
  display: flex;
  padding: 1rem;
  gap: 2rem;
  align-items: center;

  [aria-expanded="true"] + section {
    visibility: visible;
    transform: translateY(0);
  }

  section {
    flex-grow: 1;
    position: fixed;
    z-index: 1;
    top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--fg);
    background-color: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    visibility: hidden;
    padding: 1rem;
    overflow: hidden;
    transform: translateY(100%);
    transition:
      transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      visibility 0.4s linear;

    @media (min-width: 1024px) {
      position: initial;
      flex-direction: row;
      visibility: visible;
      padding: 0;
      transform: none;
      gap: 2rem;
      background-color: inherit;
      color: inherit;
    }
    .socials {
      --social-height: 2rem;
    }

    .navbar {
      flex-grow: 1;
      @media (max-width: 1023px) {
        flex-direction: column;
        a {
          font-size: 2rem;
        }
      }
    }

    @media (prefers-reduced-motion) {
      transition: none;
    }
  }

  @media (prefers-color-scheme: light) {
    box-shadow: var(--shadow);
  }

  .logo {
    z-index: 2;
    height: 4rem;
  }

  > button {
    --burger-height: 2.5rem;
    all: unset;
    cursor: pointer;
    display: none;
    height: var(--burger-height);
    aspect-ratio: 1/1;
    z-index: 2;
    margin-left: auto;
    align-items: center;
    justify-content: center;

    @media (max-width: 1023px) {
      display: flex;
    }

    &:hover {
      svg {
        height: var(--burger-height);
        filter: drop-shadow(var(--glow));
      }
    }

    &[aria-expanded="false"] {
      svg {
        &:first-of-type {
          display: block;
        }
        &:last-of-type {
          display: none;
        }
      }
    }
    &[aria-expanded="true"] {
      color: var(--fg);
      svg {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: block;
        }
      }
    }

    svg {
      height: calc(var(--burger-height) - 0.5rem);
      aspect-ratio: 1/1;
      transition:
        height 0.15s ease-in-out,
        filter 0.15s ease-in-out;
      will-change: filter;

      @media (prefers-reduced-motion) {
        transition: none;
      }
    }
  }
}
