.logo {
  height: 1rem;
  width: auto;
  transition: filter 0.15s ease-in-out;
  will-change: filter;
  animation: flicker 5s infinite;

  &:hover {
    filter: var(--glow);
  }

  @media (prefers-reduced-motion) {
    transition: none;
    animation: none;
  }

  svg {
    height: inherit;
    width: inherit;
  }
}

@keyframes flicker {
  0% {
    filter: none;
  }
  22% {
    filter: var(--glow);
  }
  28% {
    filter: none;
  }
  30% {
    filter: var(--glow);
  }
}
