.logo {
  height: 1rem;
  width: auto;
  transition: filter 0.15s ease-in-out;
  will-change: filter;

  &:hover {
    filter: var(--glow);
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }

  svg {
    height: inherit;
    width: inherit;
  }
}
