.socials {
  display: flex;
  --social-height: 2.3rem;
  --social-gap: 1rem;
  gap: var(--social-gap);

  a {
    height: var(--social-height);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      svg {
        height: var(--social-height);
        filter: drop-shadow(var(--glow));
      }
    }
    svg {
      height: calc(var(--social-height) - 0.5rem);
      will-change: filter;
      transition:
        height 0.15s ease-in-out,
        filter 0.15s ease-in-out;
    }

    @media (prefers-reduced-motion) {
      svg {
        transition: none;
        filter: none;
      }
    }
  }
}
